
/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0e0e0;
    color: #333;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* Añadimos la imagen de fondo */
    background-image: url('../IMAGES/EXTERIOR/La\ casa\ 03.jpg');
    background-size: cover;
    background-attachment: fixed; /* Para que la imagen no se desplace con el scroll */
    background-position: center;
    
}



/* Hacemos las secciones transparentes */
section {
    /* Añadimos la imagen de fondo */
    background-image: url('../IMAGES/EXTERIOR/La\ casa\ 03.jpg');
    background-size: cover;
    background-attachment: fixed; /* Para que la imagen no se desplace con el scroll */
    background-position: center;
}

/* Navegación */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background-color: transparent; /* Fondo transparente */
}

/* Botones de idioma fuera de la barra de navegación */
.language-buttons {
    position: fixed;
    top: 33px; /* Para que se vean encima de la imagen */
    right: 120px; /* Ajusta según tu preferencia */
    z-index: 1100;
    display: flex;
    gap: 1rem;
}

.language-buttons button {
    background-color: #d19c26;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s;
}

.language-buttons button:hover {
    background-color: #f5c400;
    transform: scale(1.1);
}

/* Barra de menú */
.menu {
    list-style: none;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 240px;
    background-color: #623d14;
    flex-direction: column;
    gap: 1.5rem; /* Aumenta el espacio entre los elementos */
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    transition: right 0.3s ease;
}

.menu.open {
    right: 0;
}

.menu li {
    text-align: center;
    margin-bottom: 1rem; /* Agrega espacio entre los elementos de lista */
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem; /* Aumenta el tamaño de la fuente */
    padding: 0.8rem 1.2rem; /* Aumenta el padding para más espacio */
    border-radius: 5px; /* Opcional, para bordes redondeados */
    transition: background-color 0.3s, transform 0.3s;
    display: block; /* Hace que el área de clic sea más grande */
}

.menu li a:hover {
    background-color: #f5c400; /* Fondo amarillo cuando se pasa el mouse */
    color: #623d14; /* Cambia el color del texto al pasar el mouse */
    transform: scale(1.05); /* Agrega un pequeño efecto de aumento */
}

.menu-icon {
    font-size: 1.45vw; /* Tamaño del ícono */
    color: #ffffff; /* Color del ícono */
    cursor: pointer; /* Cambia el cursor al pasar */
    display: block;
    z-index: 1111;
    top: 0;
    margin-top: 0.25rem;
    margin-left: 20px; /* Espacio a la izquierda */
    background-color: #424242; /* Color de fondo */
    padding: 0.4vw 0.8vw; /* Espaciado interno: más ancho que alto */
    border-radius: 100%; /* Bordes redondeados para darle un estilo alargado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transiciones suaves */
}

.menu-icon:hover {
    background-color: #424242; /* Cambia el fondo al pasar el mouse */
    color: #000000; /* Cambia el color del ícono */
    transform: scale(1.1); /* Pequeño aumento al pasar el mouse */
}

/* Carrusel de fotos */
.container-carousel {
    position: relative;
    width: 50%; /* Aumentado para hacerlo más grande */
    max-width: 1200px; /* Limita el ancho máximo */
    height: 500px; /* Aumentado para hacerlo más grande */
    background-color: #e0e0e0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
    overflow: hidden;
    margin: 0 auto; /* Centra el carrusel en la pantalla */
}

.carruseles {
    width: 1000%;
    height: 100%;
    display: flex;
}

.slider-section {
    width: calc(100% / 10);
    height: 100%;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 2rem; /* Aumentado para mejorar la visibilidad */
    background-color: transparent;
    border-radius: 50%;
    padding: 10px; /* Aumentado */
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: #fff;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}

/* Título de Galería */
#gallery-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: #f5f5f5; /* Gris claro */
    color: #333; /* Gris oscuro */
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 4rem auto;
    padding: 1rem;
    max-width: 800px;
}

#gallery-header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem; /* Ajusta el margen inferior para reducir espacio */
    color: #623d14; /* Color marrón oscuro */
}

#gallery-header p {
    font-size: 1.2rem;
    color: #555; /* Gris suave */
}

#gallery-header:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}

/* Galería */
#photo-gallery {
    padding: 5rem;
    background-color: #e0e0e0;
    margin-top: 2rem;
}

#photo-gallery2 {
    padding: 5rem;
    background-color: #e0e0e0;
    margin-top: 2rem;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Asegura que siempre haya 4 columnas */
    gap: 1rem;
    grid-row-gap: 6rem;
}

.gallery-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

/* Efecto al pasar el ratón */
.gallery-grid img:hover {
    transform: scale(1.05);
}

/* Estilos del Lightbox */
.lightbox {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#lightbox-img {
    max-width: 90%;
    max-height: 80%;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}


/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .gallery-grid img {
        height: 150px;
    }

    #lightbox-img {
        max-width: 100%;
    }
}


/* Footer */
footer {
    background-color: #623d14;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Medidas responsivas */
@media (max-width: 768px) {
    .language-buttons {
        right: 50px;
    }

    .menu {
        width: 200px;
    }

    #gallery-header {
        height: 100px;
    }

    #gallery-header h1 {
        font-size: 2rem;
    }

    #gallery-header p {
        font-size: 1rem;
    }

    footer {
        font-size: 0.9rem;
    }

    .carousel-image {
        height: 300px;
    }

    .gallery-grid img {
        height: 150px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    nav {
        padding: 0.5rem 0.5rem;
    }

    .menu {
        width: 100%;
        height: 100%;
        padding: 2rem 0;
    }

    .menu li a {
        font-size: 1rem;
    }

    .language-buttons {
        flex-direction: column;
        gap: 1rem;
        position: fixed;
        top: 20px;
        right: 20px;
    }

    footer {
        font-size: 0.8rem;
    }

    .carousel-image {
        height: 250px;
    }

    .gallery-grid img {
        height: 120px;
    }
}
