@import url("./vars.css");
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

/* Configuración general */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background-color: hsl(var(--foreground)); /* Gris claro */
}

/* Fuente */
.italianno-regular {
  font-family: "Italianno", serif;
  font-weight: 400;
  font-style: normal;
}

/* Carrusel de fondo */
.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

/* Definir las imágenes del carrusel */
.carousel .slide:nth-child(1) {
  background-image: url("../IMAGES/PORTADA/Imagen\ 1\ presentación.jpg");
}
.carousel .slide:nth-child(2) {
  background-image: url("../IMAGES/PORTADA/Imagen\ 2\ presentación.jpg");
}
.carousel .slide:nth-child(3) {
  background-image: url("../IMAGES/PORTADA/Imagen\ 3\ presentación.jpg");
}
.carousel .slide:nth-child(4) {
  background-image: url("../IMAGES/PORTADA/Imagen\ 4\ presentación.jpg");
}
.carousel .slide:nth-child(5) {
  background-image: url("../IMAGES/PORTADA/Imagen\ 5\ final\ vista\ general\ 1.JPG");
}

/* Nombre de la casa */
.house-name {
  font-family: "Italianno", serif;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 25%;
  font-size: 6em;
  color: #ffffff; /* Blanco */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
  z-index: 2;
}

/* Botón de entrada */
.enter-button {
  font-family: "Italianno", serif;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  font-size: 2em;
  color: #ffffff; /* Negro */
  background: hsl(var(--background)); /* Negro semitransparente */
  border: 2px solid hsl(var(--primary)); /* Dorado brillante */
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border-radius: 16px;
}

.enter-button:hover {
  background: hsl(var(--foreground)); /* Dorado brillante */
}

@media (max-width: 1200px) {
  .house-name {
    font-family: "Italianno", serif;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 25%;
    font-size: 4em;
    color: #ffffff; /* Blanco */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    z-index: 2;
  }

  .enter-button {
    font-family: "Italianno", serif;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding:10px;
    font-size: 2em;
    color: #ffffff; /* Negro */
    background: hsl(var(--background)); /* Negro semitransparente */
    border: 2px solid hsl(var(--primary)); /* Dorado brillante */
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border-radius: 16px;
  }

}
@media (max-width: 480px) {
  .house-name {
    font-family: "Italianno", serif;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 25%;
    font-size: 4em;
    color: #ffffff; /* Blanco */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    z-index: 2;
  }

  .enter-button {
    font-family: "Italianno", serif;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    font-size: 1.5em;
    color: #ffffff; /* Negro */
    background: hsl(var(--background)); /* Negro semitransparente */
    border: 2px solid hsl(var(--primary)); /* Dorado brillante */
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border-radius: 16px;
  }
}
